@import "../../variable";
// .shopCartDetail{
//     height: 92vh;
//     overflow-y: hidden;
//     position: relative;
  
//     .shopitem{
//         position: relative;
//         overflow-Y: scroll;
        
//         height: 89vh;
      
   
//     }
   
    
// }
@media screen and (min-width: 576px) {
    .shopCartDetail{
        height: 92vh;
        overflow-y: hidden;
        position: relative;
      
        .shopitem{
            position: relative;
            overflow-Y: auto;
            
            height: 89vh;
          
       
        }
       
        
    }
        }



.sideCalculate{
    //background-color: red;
    position: fixed;
    background-color: $sideColor;
    color: $white;
    @media screen and (min-width: 768px) {
        top: 70px;
        right: 65px;
    }
    .sideCalculateMain{
        height: auto;
        padding: 20px 10px;
        
        font-size: 16px;
        p{
            span{
                color: $spanColor;
            }
        }
        .checkoutButtonContainer{
            width: 100%;
            Button{
                border: none;
                background-color: $buttonColor;
                font-size: 13px;
                margin-bottom: 10px;
            }
            :hover{
                background-color: $buttonColorHover;
            }
        }

    }
    @media screen and (max-width:768px) {
    width: 100%;
     position: relative;
     margin-bottom: 20px;   
    }
}
