@import "../../_variable";
.Buttongroup{
    display: flex;
    justify-content: flex-end;
    .addToCard ,  .buttonDecrease , .removeButton , .increaseButton{
        padding: 5px 10px;
        width: auto;
        height: 30px;
        margin-left: 10px;
        border: none;
        background-color: $buttonColor;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: width 10s linear;
        
       
    }

    :hover{
        background-color: $buttonColorHover !important;
    }

}
@media screen and (max-width: 768px) {
    .customCard{
        width: 230px !important;
    }
    }